@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nanum+Myeongjo:wght@700&family=Noto+Sans&display=swap');

:root {
    --heading-font: "Kanit";
    --paragraph-font: Noto+Sans, Nanum+Myeongjo, sans-serif;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e8dab2;
    color: #001514;
}

.logo {
    width: 100%;    
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    background-color: #e8dab2;
}

nav a:hover {
    background-color: #7a7d7d;
    color: #c40405;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    background-color: #e2e8dd;
    color: #001514;
    padding: 10px;
}

.book {
    text-decoration: none;
    background-color: #f4f6f3;
    color: #001514;
    padding: 5px;
}

.book:hover {
    text-decoration: none;
    background-color: #7a7d7d;
    color: #c40405;
    padding: 5px;
}

.restoration-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.restoration-services h1 {
    text-align: center;
    grid-column: 2/4;
}

.restoration-services p {
    text-align: center;
    grid-column: 3/10;
}

.pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pricing h1 {
    text-align: center;
    grid-column: 8/10;
}

.pricing p {
    text-align: center;
    grid-column: 2/9;
}

.where-to-start {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.where-to-start h1 {
    text-align: center;
    grid-column: 2/4;
}

.where-to-start p {
    text-align: center;
    grid-column: 3/10;
}

footer {
    background-color: #7a7d7d;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #001514;
    text-decoration: none;
}

.link-footer a {
    text-decoration: none;
    color: #001514;
}

.title {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.title h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.title p {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    text-align: left;
}

.title p:nth-child(2) {
    margin-top: -25px;
}

.headline-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.before-title {
    grid-area: 5/1/6/2;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    align-items: center;
    text-align: right;
    color: #c40405;
    background-color: #e8dab2;
}

.after-title {
    grid-area: 5/7/6/8;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex: auto;
    width: 100%;
    padding: 5px;
    align-items: center;
    text-align: center;
    color: #c40405;
    background-color: #e8dab2;
}

#before-project {
    grid-area: 1/1/6/4;
}

#before-img {
    width: 100%;
}

#after-project {
    grid-area: 1/5/6/8;
}

#after-img {
    width: 100%;
}

.project-description {
    grid-area: 1/4/11/5;
    text-align: center;
}

.assorted-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8,100px);
    
}

.assorted-projects h1 {
    grid-area: 1/1/2/4;
}

#project1 {
    grid-area: 1/4/3/7;
}

.project1-img {
    width: 100%;
    height: 100%;
}

#project2 {
    grid-area: 1/7/5/9;
}

.project2-img {
    width: 100%;
    height: 100%;
}


#project3 {
    grid-area: 2/1/5/3;
}

.project3-img {
    width: 100%;
    height: 100%;
}

#project4 {
    grid-area: 3/3/7/7;
}

.project4-img {
    width: 100%;
    height: 100%;
}

#project5 {
    grid-area: 5/7/7/9;
}

.project5-img {
    width: 100%;
    height: 100%;
}

#project6 {
    grid-area: 5/1/7/3;
}

.project6-img {
    width: 100%;
    height: 100%;
}

.project-experience {
    grid-area: 7/2/9/8;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e2e8dd;
    color: #001514;
    padding: 10px;
    margin-top: 50px;
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1rf;
    margin-top: 50px;
    column-gap: 50px;
    row-gap: 50px;
}

.about-us h1 {
    grid-area: 1/1/2/3;
}

.headshot1 {
    width: 100%;
    grid-area: 2/2/4/4;
}

.headshot2 {
    width: 100%;
    grid-area: 5/2/7/4;
}

.bio-text1 {
    grid-area: 2/4/4/5;
}

.bio-text2 {
    grid-area: 5/4/7/5;
}

.information {
    display: grid;
    grid-template: 1fr 1fr / 2fr 3fr;
    margin-top: 50px;
}

.map {
    width: 100%;
    grid-area: 1/1/3/2;
}

.location {
    grid-area: 1/2/2/3;
    background-color: #c40405;
    color: #001514;
}

.location a {
    text-decoration: none;
    background-color: #e8dab2;
    color: #001514;
    padding: 1px;
}

.location a:hover {
    text-decoration: none;
    background-color: #7a7d7d;
    color: #c40405;
    padding: 5px;
}

.contact-info {
    grid-area: 2/2/3/3;
    background-color: #7a7d7d;
}