content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: rgb(53, 94, 141);
    color: black;
}

.home-title {
    color: black;
}

h4 {
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

header {
    background-color: #d9c2a3;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.book, .join {
    background-color: rgb(70, 81, 203);
    color: white;
    text-decoration: none;
    padding: 5px;
}

.book:hover, .join:hover {
    background-color: azure;
    color: black;
}

nav a:hover {
    background-color: blanchedalmond;
    color: black;
}

#hero-msg h1 {
    text-align: center;
    color: white;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

background {
    height: 725px;
    background-color: antiquewhite;
    color: black;
}

.msg {
    background-color: aquamarine;
    color: black;
}

footer {
    background-color: blueviolet;
    color: black;
}

#hero-img {
    width: 100%;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img {
    width: 100%;
    height: 200px;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rapids-card {
    grid-column: 2/4;
    grid-row: 2/3;
    color: white;
}

.scuba-card {
    grid-column: 5/7;
    grid-row: 2/3; 
    color: white;
}
.sailing-card {
    grid-column: 8/10;
    grid-row: 2/3;
    color: white;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.island {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: rgb(52, 52, 93);
    box-shadow: 5px 5px 10px #6f7364;
    padding: 35px;
}

.msg h2, .msg p {
    color: white;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.FAQ-grid {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 50px;
    grid-template-rows: 1fr 1fr 25px 1fr 1fr 25px 1fr 1fr;
}

.question1 {
    grid-area: 1/2/2/3;
}

.answer1 {
    grid-area: 1/2/3/4;
    margin-top: 100px;
}

.question2 {
    grid-area: 4/2/5/3;
}

.answer2 {
    grid-area: 4/2/6/4;
    margin-top: 100px;
}

.question3 {
    grid-area: 7/2/8/3;
}

.answer3 {
    grid-area: 7/2/9/4;
    margin-top: 100px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}